<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>우리의 여행일기</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	<link rel="stylesheet" th:href="@{/css/user.css}">	
</head>
<body>
	<div id="trip_wrap">
		<div th:replace="fragments/header :: menu"></div>
		<div id="container">
			<div id="contents">
				<div class="myPage_main">
					<div class="myPage_info">
						<div th:text="${#authentication.principal.user.nickname}"></div>
						<a th:href="@{/users/edit/{id}(id=${#authentication.principal.user.id})}">회원 정보 수정</a>
						<form th:action="@{/users/delete/{id}(id=${#authentication.principal.user.id})}" method="post">
							<input type="hidden" name="_method" value="DELETE"/>
							<button type="submit">회원 탈퇴</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>